// Place all the styles related to the login controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1{
  text-align: center;
}

h2{
  text-align: center;
}

h3{
  text-align: center;
}

h4{
  text-align: center;
}

div.centered 
{
    text-align: center;
}

div.centered table 
{
    margin: 0 auto; 
    text-align: left;
}

#p-ext{
  text-align: center;
}

.button-holder{
  text-align: center;
}
